# Python / Django
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/db.sqlite3
backend/media/
backend/.env
backend/static/
backend/staticfiles/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
